.blogs > h1,
.blogs > p {
  margin: 1rem;
}
.blog {
  border: 0.01px solid #c0c2c8;
  padding: 5px;
  border-radius: 5px;
  margin: 1rem;
  background-color: #e7eff7;
}
.blog p {
  text-align: justify;
  color: #71707d;
}
.blog a {
  text-decoration: none;
  color: inherit;
}
