.header__top {
  margin: 0px 2pc;
}
.header ul {
  display: flex;
  float: 1;
  justify-content: space-evenly;
  align-items: center;
}
.header__links {
  width: 50vw;
  display: flex;
}
.header__links > li {
  list-style: none;
}
.header__links > li > a {
  text-decoration: none;
  color: inherit;
}
.header__title {
  margin-bottom: 1px;
}
.header__title > a {
  text-decoration: none;
  color: inherit;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 3px;
}
.header__social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 7rem;
}
.header__social img {
  width: 20px;
  height: 20px;
}
.header__links > li:hover {
  color: #47b144;
}
.header__links > li a:active {
  color: #47b144;
}
