.header {
  display: grid;
  place-items: center;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.header__links > li {
  list-style: none;
}
.header__links > li > a {
  text-decoration: none;
  color: inherit;
  word-spacing: 5px;
  letter-spacing: 3px;
}
.header__title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 25px;
}
.header__title > a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  word-spacing: 5px;
  letter-spacing: 3px;
}
.header__social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.header__social img {
  width: 20px;
  height: 20px;
}
.header__links > li:hover {
  font-weight: 900;
}
.header__links > li a:active {
  font-weight: bolder;
}
