.app {
  padding: 2px;
  background-color: #f4f7f9;
  color: #587da7;
  margin: 0px !important;
}
.app_content {
  width: 60vw;
  margin: 0px auto;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 992px) {
  .app_content {
    width: 95vw;
    margin: 0px auto;
  }
}
